
// Variables
$accent-color: #F28322;
$primary: #F2EDDC;
$secondary: #3B5936;
$logo: #F2BC79;



// Global reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

h1,h3 {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}


header{
    background-color: $primary;
    ul {
        list-style-type: none;
        color: $secondary;

        a{
            color: $secondary;

            &:hover {
                text-decoration: none;
                color: darken($secondary, 10%);
            }
        }

    }
}

main{
    background-color: $primary;
    color: $secondary;
}

ul{
    list-style: none;
}

img {
    border-radius: 8px;
    max-width: 100%;
}


#logo{
    color: $logo;
    &:hover{
        color: darken($logo, 10%);
    }
}



footer {
    background-color: $secondary;
    color: $primary;

    a{
        color: black;

        &:hover {
            text-decoration: none;
        }
    }
}


