
// Variables
$accent-color: #F28322;
$primary: #F2EDDC;
$secondary: #3B5936;
$logo: #F2BC79;



// Global reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}


ul{
    list-style: none;
}

img {
    border-radius: 8px;
    max-width: 100%;
}

// Typography

h1{
    font-size: 4rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2.2rem;
}
h4{
    font-size: 1.6rem;
}

.body_large{
    font-size: 1.4rem;
}

.body_small{
    font-size: 0.8rem;
}


h1,h3 {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

.primary_button{
    background-color: $primary;
    color: $secondary;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.5rem;
    &:hover {
        text-decoration: none;
        color: darken($secondary, 10%);
        background-color: darken($primary, 10%);
    }
}

.secondary_button{
    background-color: $secondary;
    color: $primary;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.5rem;
    &:hover {
        text-decoration: none;
        color: darken($primary, 10%);
        background-color: darken($secondary, 10%);
    }
}


// css page
header{
    background-color: $primary;
    ul {
        list-style-type: none;
        color: $secondary;

        a{
            color: $secondary;

            &:hover {
                text-decoration: none;
                color: darken($secondary, 10%);
            }
        }

    }
}

main{
    background-color: $primary;
    color: $secondary;
}

#logo{
    color: $logo;
    &:hover{
        color: darken($logo, 10%);
    }
}



footer {
    background-color: $secondary;
    color: $primary;

    a{
        color: $primary;

        &:hover {
            text-decoration: none;
            color: darken($primary, 10%);
        }
    }
}


