
// Variables
$accent-color: #A65316;
$primary: #F2EDDC;
$secondary: #3B5936;
$logo: #A65316;


// Global reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 4rem;
}

img {
    border-radius: 8px;
    max-width: 100%;
}

// css page

header{
    .custom-navbar {
        background-color: $primary !important;
        color: $secondary ;

        ul {
            list-style-type: none;
            color: $secondary;
    
            a{
                color: $secondary;
    
                &:hover {
                    text-decoration: none;
                    color: darken($secondary, 10%);
                }
            }
    
        }
        
    
        #logo {
            color: $logo;
            &:hover {
                color: darken($logo, 10%);
            }
        }

     
        .navbar-toggler {
            transition: background-image 0.3s ease;
            padding: 0;

            &[aria-expanded="false"] .navbar-toggler-icon{
                background-image: url('../images/open=no.png');
                transition: background-image 0.3s ease;
                width: 40px;
                height: 40px;
            }

            &[aria-expanded="true"] .navbar-toggler-icon{
                background-image: url('../images/open=yes.png');
                transition: background-image 0.3s ease;
                width: 40px;
                height: 40px;
            }

        }
        
    }
    

}



main{
    .row{
        border: 1px solid rgb(221, 220, 220);
        .col-md-4{
            background-color:$primary;

            .name{
                font-size: 1.5rem;
                font-weight: bold;
            }
            ul{
                list-style: none;
            }
        }

        .col-md-8{
            .experience {
                div {
                    color: grey;
                }
            }
          
        }
    }
    
}




footer {
    background-color: $secondary;
    color: $primary;

    a{
        color: $primary;

        &:hover {
            text-decoration: none;
            color: darken($primary, 10%);
        }
    }
}